@page
@model NorthwindWeb.Pages.SuppliersModel // sets the Razor Page model
<!-- Add tag helpers for adding in an input form, e.g. 'asp-for' -->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <h1 class="display-2">Suppliers</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr><th>Company Name</th></tr>
        </thead>
        <tbody>
            @* @foreach (string name in Model.Suppliers) // using C#, gets the value in the array defined in suppliers.cshtml.cs
            {
                <tr><td>@name</td></tr>
            } *@

            @for (int i = 0; i < Model.SuppliersName.Count; i++) {
                <tr><td>@Model.SuppliersName[i]</td><td>@Model.SuppliersCountry[i]</td><td>@Model.SuppliersPhone[i]</td></tr>
            }
        </tbody>
    </table>
</div>

<!-- Form allowing a user to insert a new supplier -->
<div class="row">
    @* <p>Enter a name for a new supplier:</p> *@
    <form method="POST">
        <!-- 'asp-for' tag helper enables data binding to the model behind the Razor page -->
        <p>Enter a name for a new supplier:</p>
        <div><input asp-for="Supplier.CompanyName" /></div>
        <p>Enter a country for a new supplier:</p>
        <div><input asp-for="Supplier.Country" /></div>
        <p>Enter a phone for a new supplier:</p>
        <div><input asp-for="Supplier.Phone" /></div>
        <input type="submit" />
    </form>
</div>